* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.component {
  width: 50%;
  height: 50vh;
  background-color: red;
}
.active {
  width: 50%;
  height: 50vh;
  background-color: green;
}
.btn {
  margin: 10px;
  padding: 10px 15px;
  color: white;
  background-color: red;
  border: 0 solid;
  cursor: pointer;
}
